.scuba-radar {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 40px;
    background-color: rgb(5, 54, 167);

    /* border radius 10px on top */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    width: 100%;
    max-width: 250px;
    margin: 0px 45px;
    
    color: #fff;
    font-size: 18px;
}

.chat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(5, 54, 167);
}

.chat-icon:hover {
    cursor: pointer;
}